# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store

# Model / output folders
checkpoints/
results/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Build files
dist/
build/
*.egg-info/

# VS Code (optional)
.vscode/